<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Processing Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/processing.css') }}">
</head>
<body>
    <div id="processing-container">
        <h1>Image Submitted</h1>
        <p>Once processed the status will appear on the homepage</p>
        <button id="return-button" onclick="window.location.href='/'">Go Back</button>
    </div>
</body>
</html>
